/*  Mobile: */

@media (max-width: 480px) {
    .footerMenu {
    	display: block;
    }

    .footerMenu hr {
    	border-bottom: 1px solid #707070;
		border-top: 1px solid #3B3B3B;
		clear: both;
		margin-left: -15px;
		margin-right: -15px;
		position: relative;
    }

    .countryAndCategories, .companyMenu {
    	display: block;
    }
}

/*  Tablet: */

@media (min-width: 481px) and (max-width: 959px) {
    .footerMenu hr {
    	display: none;
    }

    .countryAndCategories, .companyMenu {
    	display: inline-block;
    	width: 250px;
    }

    .countryAndCategories {
    	margin-right: 60px;
    }

    .companyMenu {
    	margin-left: 60px;
    }
}

/* Desktop: */

@media (min-width: 960px) {
    .footerMenu {
    	display: inline-block;
    }

    .footerMenu hr {
    	display: none;
    }

    .countryAndCategories, .companyMenu {
    	display: inline-block;
    	width: 250px;
    }

    .countryAndCategories {
    	margin-right: 60px;
    }

    .companyMenu {
    	margin-left: 60px;
    }
}

/* Style not sizes */

footer.footer {
	background-color: #4F4F4F;
	clear: both;
	color: #fff;
	font-family: "Helvetica";
	position: relative;
	width: 100%;
}

.socialMedia {
	display: inline-block;
	float: right;
	position: static;
}

.socialMedia ul {
	list-style: none;
	margin: 15px;
}

.socialLink {
	display: inline;
	padding: 5px;
}

.socialLink img {
	height: 30px;
	width: 30px;
}

.Facebook:hover {
	content: url("../images/social-media/fb-hover.png");
}

.Twitter:hover {
	content: url("../images/social-media/twitter-hover.png");
}

.LinkedIn:hover {
	content: url("../images/social-media/linkedin-hover.png");
}

footer.footer  hr {
	border-bottom: 1px solid #707070;
	border-top: 1px solid #3B3B3B;
	clear: both;
}

.footerMenu {
	margin: 7.5px;
	padding: 7.5px;
}

.footerOptions {
	line-height: 10px;
	cursor: pointer;
}

.footerOptions:hover {
	color: #5DBAAE;
}

footer.copyright {
	width: 100%;
	display: block;
	background-color: #3F3F3F;
	padding: 15px;
	margin-bottom: 10px;
	clear: both;
}

footer.copyright p {
	text-align: center;
	vertical-align: middle;
}

div.final {
	background-color: transparent;
	height: 25px;
}